@use "./index.scss" as *;

.footer {
  background-color: $secondary;

}

.header {
  background-color: $secondary;
  color: $highlight;
  border-color: $highlight;

}

.main {
  background-color: $primary;
  color: $secondary;
  border-color: $highlight;
  h1{font-family: 'Times New Roman', Times, serif;
    color: $highlight;
  
    &:hover {
      text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
      color: darken($color: $highlight, $amount: 15%)}
}}